@import "./colors.css";
@import "./base.css";
@import "./utility.css";

@import "./components/header.css";
@import "./components/nav-bar.css";
@import "./components/button.css";

body {
  font-family: Arial, Helvetica, "sans-serif";
  color: black;
}

.wrapper {
  border: 1px steelblue dotted;
  max-width: 1000px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 400;
  font-size: 1.4rem;
}
.header_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px steelblue dotted;
  padding: 1rem;
}

.profil_box {
  display: flex;
  flex-flow: row wrap;
  border: 1px steelblue dotted;
  margin-top: 1rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header .button {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 5rem;
  color: black;
  justify-content: center;
}

#interests {
  display: flex;
  flex-direction: column;
}
.skill_box {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
  flex-direction: row;
}

.skill_sn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: steelblue;
  color: white;
  padding: 6px;
  margin-left: 3px;
  text-align: center;
  border-radius: 2px;
}

.hobby {
  display: flex;
  flex-direction: row;
}

.hobby_sn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: steelblue;
  color: white;
  padding: 6px;
  margin-left: 3px;
  text-align: center;
  border-radius: 2px;
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

#social_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 6px;
}

.social_link {
  flex-grow: 1;
  flex-basis: 0;
  border-style: solid;
  border-color: steelblue;
  border-width: thin;
}

.social_link img {
  height: 200px;
}

.social_link h3 {
  margin-bottom: 0%;
  text-align: center;
  color: white;
  background-color: steelblue;
}

#social_box a {
  text-decoration: none;
}

#cv_box {
  display: flex;
  flex-direction: column;
}

.cv_station {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 1rem;
}

.cv_date {
  width: 150px;
}

hr {
  border-style: solid;
  border-color: steelblue;
  margin: 2rem 0 1rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  background-color: steelblue;
  margin-top: 3rem;
  padding-left: 3px;
  color: white;
}
